@{
    ViewBag.Title = "样本信息";
    Layout = "~/Views/Shared/_AnnalyzeGene.cshtml";
}
@model  Usheng.Biz.GeneViewModel.PageModelPack<Usheng.Biz.GeneViewModel.GenePrepareModel>
@section Styles{
    @Styles.Render("~/bundles/genetemplcss")
    @Styles.Render("~/Content/styles/samplepagebatchcss")
    <link href="~/Content/scripts/bootstrap/bootstrap-select.min.css" rel="stylesheet" />
    <style>

        a {
            cursor: pointer;
        }

        iframe {
            border: none;
            outline: none;
        }

        /***bootstrap重定义**/
        .popover-content {
            padding: 0;
        }

        span.bspopover, span.family_gram_popover {
            cursor: pointer;
        }

            span.bspopover i {
                display: none;
            }

            span.bspopover:hover i {
                display: inline;
            }

        .annotationPopover {
            height: auto;
            width: 270px;
        }
        /*.popover {
            max-width: 460px;
        }*/
        .popover-content .popover-info {
            max-height: 200px;
        }

        .popover-content .popover-header {
            padding: 3px 5px;
        }


        .ui-jqgrid2 tr.jqgrow td {
            height: 30px;
            text-overflow: ellipsis;
        }

        .ui-jqgrid tr.jqgrow td {
            font-weight: normal;
            overflow: hidden;
            white-space: pre;
            line-height: 25px;
            height: 25px;
            padding: 0 5px 0 5px;
        }

        .ui-jqgrid22 tr.ui-search-toolbar th.ui-th-ltr {
            font-weight: normal;
            overflow: hidden;
            white-space: pre;
            line-height: 30px;
            height: 30px;
            padding: 0 5px 0 5px;
        }

        .week-input .input-group-addon, .year-input .input-group-addon, .day-input .input-group-addon, .month-input .input-group-addon {
            padding: 0 3px;
        }

        .week-input input.form-control, .year-input input.form-control, .day-input input.form-control, .month-input input.form-control {
            padding-right: 0;
            padding-left: 3px;
        }

        .form-group label.control-label {
            padding-left: 0;
            padding-right: 0;
        }

        .input-wdatepicker {
            min-width: 100px;
        }

        td div.chkbox-div {
            height: 17px;
            width: 17px;
            text-align: start;
            margin-top: -3px;
            margin-left: 3px;
        }

        td div.treeclick {
            text-align: center;
            height: 15px;
            margin-top: 1px;
        }

        td a[data-toggle="popover"] {
            display: block;
            width: 100%;
            height: 14px;
            line-height: 14px;
        }

        .age-inputs {
            display: inherit;
            float: left;
        }

        .age-desc {
            height: 26px;
            width: 16px;
            display: inline-block;
            padding-top: 7px;
        }

        .embryoWeek .add-clear-span {
            float: left;
        }

        .childrenAge .add-clear-span {
            float: left;
        }

        .control-label .select2-selection {
            border: none;
        }

        .check-cls-item {
            padding-left: 10px;
            padding-right: 10px;
        }

            .check-cls-item input {
                vertical-align: top;
            }
        .bootstrap-select > .dropdown-toggle.btn-default {
            color: #333;
            /*background-color: #24988d;*/
        }

        .bootstrap-select > .dropdown-toggle.bs-placeholder,
        .bootstrap-select > .dropdown-toggle {
            border-radius: 0.3rem;
            padding: 3px;
        }

        .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
            color: #fff;
            background-color: #005cb1;
        }
        .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default {
            color: #fff;
            background-color: #005cb1;
        }
        
        /* ===== 修复后的固定列样式 - 第一列隐藏版本 ===== */
        /* 重置所有相关元素的box-sizing */
        .ui-jqgrid .ui-jqgrid-btable tbody tr td,
        .ui-jqgrid .ui-jqgrid-htable thead tr th {
            box-sizing: border-box;
        }

        /* 隐藏第一列 */
        .ui-jqgrid .ui-jqgrid-btable tbody tr td:first-child,
        .ui-jqgrid .ui-jqgrid-htable thead tr th:first-child {
            display: none !important;
        }

        /* 第二列固定（实际显示的第一列） */
        .ui-jqgrid .ui-jqgrid-btable tbody tr td:nth-child(2),
        .ui-jqgrid .ui-jqgrid-htable thead tr th:nth-child(2) {
            position: sticky !important;
            left: 0 !important;
            background: #fff !important;
            z-index: 10 !important;
            box-shadow: 1px 0 0 0 #ddd !important;
            border-right: none !important;
            border-left: 1px solid #ddd !important;
        }

        /* 第三列固定（实际显示的第二列） */
        .ui-jqgrid .ui-jqgrid-btable tbody tr td:nth-child(3),
        .ui-jqgrid .ui-jqgrid-htable thead tr th:nth-child(3) {
            position: sticky !important;
            left: var(--col2-width, 30px) !important;
            background: #fff !important;
            z-index: 9 !important;
            box-shadow: 1px 0 0 0 #ddd !important;
            border-right: none !important;
        }

        /* 第四列固定（实际显示的第三列） */
        .ui-jqgrid .ui-jqgrid-btable tbody tr td:nth-child(4),
        .ui-jqgrid .ui-jqgrid-htable thead tr th:nth-child(4) {
            position: sticky !important;
            left: var(--col2-3-width, 60px) !important;
            background: #fff !important;
            z-index: 8 !important;
            box-shadow: 1px 0 0 0 #ddd !important;
            border-right: none !important;
        }

        /* 第五列固定（实际显示的第四列） */
        .ui-jqgrid .ui-jqgrid-btable tbody tr td:nth-child(5),
        .ui-jqgrid .ui-jqgrid-htable thead tr th:nth-child(5) {
            position: sticky !important;
            left: var(--col2-4-width, 90px) !important;
            background: #fff !important;
            z-index: 7 !important;
            box-shadow: 1px 0 0 0 #ddd !important;
            border-right: none !important;
        }

        /* 悬停效果 - 从第2列开始到第5列 */
        .ui-jqgrid .ui-jqgrid-btable tbody tr:hover td:nth-child(n+2):nth-child(-n+5) {
            background: #f5f5f5 !important;
        }

        /* 选中行效果 - 从第2列开始到第5列 */
        .ui-jqgrid .ui-jqgrid-btable tbody tr.ui-state-highlight td:nth-child(n+2):nth-child(-n+5),
        .ui-jqgrid .ui-jqgrid-btable tbody tr.ui-row-ltr.ui-state-highlight td:nth-child(n+2):nth-child(-n+5) {
            background: #e6f3ff !important;
        }

        /* 确保表格可以水平滚动 */
        .ui-jqgrid .ui-jqgrid-bdiv {
            overflow-x: auto !important;
        }

        /* 非固定列的z-index */
        .ui-jqgrid .ui-jqgrid-btable tbody tr td:nth-child(n+6),
        .ui-jqgrid .ui-jqgrid-htable thead tr th:nth-child(n+6) {
            position: relative;
            z-index: 1;
        }

        /* 修复表格边框问题 */
        .ui-jqgrid .ui-jqgrid-btable tbody tr td {
            border-left: none !important;
        }

        .ui-jqgrid .ui-jqgrid-htable thead tr th {
            border-left: none !important;
        }
    </style>
}

<!-- 这里是你的HTML内容，保持不变 -->
<div class="gridPanel">
    <!-- 省略其他HTML内容，与原文件相同 -->
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/analyzeindex")
    @Html.Partial("~/Areas/GeneAnalyze/Views/Sample/Detail/SampleBaseData.cshtml", Model.Data)
    @Scripts.Render("~/bundles/interfaces")
    <script src="~/Content/scripts/bootstrap/bootstrap-select.min.js"></script>
    <script src="~/Content/scripts/bootstrap/defaults-zh_CN.min.js"></script>
    
    <!-- 添加固定列修复脚本 - 第一列隐藏版本 -->
    <script src="~/Content/scripts/sample-grid-sticky-fix-hidden-first.js"></script>

    <script>
        sampleAuthArray = @(new MvcHtmlString(Model.SubAuthArrayJson));
        uid = @Model.UserId;
        var annoVerInfo = @(new MvcHtmlString(Model.OhterData));
        var stateChangeTimer = null;
        var stateChangeAjax = null;
        
        // 修改refreshGrid函数，添加固定列修复
        function refreshGrid() {
            layerLoading();
            $('div[role="tooltip"]').remove();
            top.reloadBaseData && top.reloadBaseData(function () {
                $gTable.trigger("reloadGrid");
                                 // 刷新后重新应用固定列（第一列隐藏版本）
                 setTimeout(function() {
                     if (window.SampleGridStickyFixHidden) {
                         SampleGridStickyFixHidden.applyFix();
                     }
                 }, 200);
            });
        };

        $(function () {
            $('.selectpicker').selectpicker('refresh');
            window["I_initSampleSearchData"] && window["I_initSampleSearchData"]();
            initialAnalyzePage();
            
            // 初始化表格
            initAnalyzeGrid();
            
                         // 初始化固定列修复 - 在表格初始化完成后（第一列隐藏版本）
             setTimeout(function() {
                 if (window.SampleGridStickyFixHidden) {
                     SampleGridStickyFixHidden.init({
                         gridId: 'gridTable',
                         fixedColumns: 4, // 要固定的可见列数
                         debug: true // 开发时可以设为true，生产环境设为false
                     });
                 }
             }, 500);
            
            var oobj = $(".form-group select:not(.selectpicker)");
            initSelect2New(oobj);
            $("#btn_addFlow").click(function () { openSampleFollowPage(0,1); });
            $(".i-checks").iCheck({ checkboxClass: icheckBoxClass, radioClass: iradioClass });
            $("#sexError,#familyError").on("ifClicked", function () {
                $(this).prop("checked", !$(this).is(":checked"));
                searchSample();
            });
            $("#btn_export").click(function() {
                exportSearchResult("样本列表");
            });
            $("#searchDateType").change(function () {
                var curVal = $(this).val();
                var curStart = curVal + "Start";
                var curEnd = curVal + "End";
                $("input[name='searchDateInputStart']").attr("id", curStart);
                $("input[name='searchDateInputEnd']").attr("id", curEnd);
            });
            
            // 其他事件绑定保持不变...
            initStateChangeListener();
        });
        
        // 在searchSample函数执行后也要重新应用固定列
        var originalSearchSample = window.searchSample;
        window.searchSample = function() {
            if (originalSearchSample) {
                originalSearchSample.apply(this, arguments);
                                 setTimeout(function() {
                     if (window.SampleGridStickyFixHidden) {
                         SampleGridStickyFixHidden.applyFix();
                     }
                 }, 300);
            }
        };

        // 其他函数保持不变...
        function handleCheckboxChange() {
            var gdfySampleTask = $("#gdfySampleTask");
            if (!gdfySampleTask.checked) {
                searchSample();
            }
        }
        
        // 其他函数代码保持不变...
        // （省略了其他函数的代码，因为它们不需要修改）
        
    </script>
}